<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>The Tech Blog</title>
</head>

<body>
  <header>
    <h1>The Tech Blog</h1>
    <nav class="border-orange">
      <ul>
        <li class="inline-block border-red">
          <a class="button custom-a" href="/">Home</a>
        </li>
        <li class="inline-block border-red">
          <a class="button custom-a" href="/">Dashboard</a>
        </li>
        <li class="inline-block border-red">
          <a class="button custom-a" href="/">Login</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {{{ body }}}
  </main>

  <footer>
    &copy; 2022 Sushan Yue
  </footer>
</body>

</html>