{{!-- if logged in --}}
<div class="container">
  {{!-- welcome msg --}}
  <div class="row">
    <div class="twelve columns">
      <h3>Welcome back, {{username}}!</h3>
    </div>
  </div>
</div>

{{!-- create new blog post --}}
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h4>What would you like to do?</h4>

      <button id="toggle-form-vis" type="button" class="button bottom-padding">Create a new blog post</button>

      <form id="new-post-form" class="hide">
        <label for="post-title">Title:</label>
        <input type="text" id="post-title" class="u-full-width" />

        <label for="post-content">Content:</label>
        <textarea id="post-content" class="u-full-width"></textarea>

        <button class="button-primary" type="submit">
          Post
        </button>
      </form>
      
    </div>
  </div>
</div>


{{!-- if there are blog posts --}}
{{#if posts.length}}
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h4>Previous posts:</h4>
    </div>
  </div>
</div>
{{!-- show all the user's posts here --}}
{{#each posts as |post|}}
{{!-- pass in session host details, 
  dashboard user (username of person who posted the blog post), 
  flag to see if user is in dashboard or not --}}
{{> post-details session_host=../host dashboard_user=../username is_in_dashboard=../dashboardFlag}}
{{/each}}
{{/if}}

<script src="/js/dashboard.js"></script>