<div class="container card">
  <div class="row">
    <div class="twelve columns">
      <h2>Blog posts</h2>
    </div>
  </div>
</div>

{{!-- existing blog posts go here --}}
{{#if posts.length}}
{{#each posts as |post|}}
{{> post-details}}
{{/each}}
{{else}}
<div class="container card">
  <div class="row">
    <div class="twelve columns">
      <p>No blog posts at this time.</p>
    </div>
  </div>
</div>
{{/if}}