<div class="container card border-blue">
  <div class="row">
    <div class="twelve columns">
      <h2>Blog posts</h2>
    </div>
  </div>
</div>

{{!-- existing blog posts go here --}}

{{#each posts as |post|}}
{{> post-details}}
{{/each}}