<div class="container card border-blue">
  <div class="row">
    <div class="twelve columns">
      <h2>Blog posts</h2>
    </div>
  </div>
</div>

{{!-- existing blog posts go here --}}

<div class="container card border-blue">
  <div class="row card-header bottom-accent">
    <div class="two-thirds column border-greenyellow">
      <h5 class="post-title">title of thing</h5>
    </div>
    <div class="one-third column border-orange">
      <h6 class="post-author">posted by PERSON NAME on DD/MM/YYYY</h6>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <p>this is a test comment</p>
    </div>
  </div>
</div>