<div class="container card border-blue">
  <div class="row">
    <div class="twelve columns">
      <h2>Blog posts</h2>
    </div>
  </div>
</div>

{{!-- existing blog posts go here --}}

{{!-- <p>session:host</p>
{{host}} --}}

{{#each posts as |post|}}
{{!-- pass the parent 'session_host' variable to the partial so the partial can access it --}}
{{> post-details}}
{{/each}}