<div class="container">
  <div class="row">
    <div class="six columns">
      <h2 class="bottom-accent">Login</h2>
      <p>If you have an existing account, please log in with your email address.</p>
      <form id="login-form">
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" class="u-full-width">

        <label for="password-login">Password:</label>
        <input type="text" id="password-login" class="u-full-width">

        <button class="button-primary" type="submit">Login</button>
      </form>
    </div>

    <div class="six columns">
      <h2 class="bottom-accent">Sign Up</h2>
      <p>If you are a new user, please sign up using the form below.</p>
      <form id="signup-form">
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" class="u-full-width">

        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" class="u-full-width">

        <label for="password-signup">Password:</label>
        <input type="text" id="password-signup" class="u-full-width">

        <button class="button-primary" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>