<div class="container card">
	<div class="row">
		<div class="twelve columns card-body">
			<h2 class="bottom-accent">Login</h2>
			<p>If you have an existing account, please log in with your email address.</p>
			<form id="login-form">
				<label for="email-login">Email:</label>
				<input
					type="text"
					id="email-login"
					class="u-full-width"
					placeholder="user@email.com"
				/>

				<label for="password-login">Password:</label>
				<input
					type="password"
					id="password-login"
					class="u-full-width"
					placeholder="******"
				/>

				<button
					class="button-primary custom-btn-primary"
					type="submit"
				>Login</button>

				<a href="/signup" class="margin-left">New? Click here to sign up.</a>
			</form>

		</div>
	</div>
</div>

<script src="/js/login.js"></script>