<div class="container">
	<div class="row">
		<div class="twelve columns">
			<h2 class="bottom-accent">Sign Up</h2>
			<p>If you are a new user, please sign up using the form below.</p>
			<form id="signup-form">
				<label for="username-signup">Username:</label>
				<input
					type="text"
					id="username-signup"
					class="u-full-width"
					placeholder="New User"
				/>

				<label for="email-signup">Email:</label>
				<input
					type="text"
					id="email-signup"
					class="u-full-width"
					placeholder="new.user@email.com"
				/>

				<label for="password-signup">Password:</label>
				<input
					type="password"
					id="password-signup"
					class="u-full-width"
					placeholder="******"
				/>

				<button class="button-primary" type="submit">Sign Up</button>

				<a href="/login">Actually, I am a returning user. Go back to login.</a>
			</form>

		</div>
	</div>
</div>

<script src="/js/signup.js"></script>